<!DOCTYPE html><html>
        <head>
            {{with .Page -}}
            {{if .Params.vanity -}}
            <meta name="go-import" content="gnorm.org{{substr .RelPermalink 0 -1}} git {{.Params.vanity}}">
            <meta name="go-source" content="gnorm.org{{substr .RelPermalink 0 -1}} {{.Params.vanity}} {{.Params.vanity}}/tree/master{/dir} {{.Params.vanity}}/blob/master{/dir}/{file}#L{line}">
            {{- end -}}
            {{- end}}
            <title>{{ .Permalink }}</title>
            <link rel="canonical" href="{{ .Permalink }}"/>
            <meta http-equiv="content-type" content="text/html; charset=utf-8" />
            <meta http-equiv="refresh" content="0; url={{ .Permalink }}" />
        </head>
    </html>